[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.2"
numpy = "*"
pandas = "*"
sklearn = "*"
gunicorn = "*"
whitenoise = "*"
django-on-heroku = "*"

[dev-packages]

[requires]
python_version = "3.8"
